<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestCoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>59752B2D1C04AF4900C2AD52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59752B461C04AF4A00C2AD52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59752B511C04AF4A00C2AD52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
